body {
  background: #eee;
}

h1 {
  text-align: center;
}

form {
  max-width: 200px;
  margin: 40px auto;
  background: white;
  padding: 10px;
}

input,
button {
  display: block;
  margin: 10px auto;
  padding: 4px;
}
